#cat-box {
    padding: 16px;
}
#cat-name {
    font-size: 24px;
    font-weight: bold;
    float: left;
    padding-right: 12px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
#clicks-text {
    font-size: 20px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin-top: 4px;
}
#cat-photo {
    height: 200px;
}
#cat-div {
    display: none;
}
